version: '3.8'

services:
  wordpress:
    build: wp
    expose:
      - "80"
    depends_on:
      - db
    restart: always
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - cloud-1

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    expose:
      - "8080"
    depends_on:
      - db
    restart: always
    environment:
      PMA_PORT: "{{ pma_port }}"
      PMA_HOST: "{{ pma_host }}"
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_pwd }}"
    networks:
      - cloud-1

  db:
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_pwd }}"
      MYSQL_DATABASE: "{{ mysql_db }}"
      MYSQL_USER: "{{ mysql_user }}"
      MYSQL_PASSWORD: "{{ mysql_pwd }}"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - cloud-1

  nginx:
    build: nginx
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    depends_on:
      - wordpress
    restart: always
    networks:
      - cloud-1

volumes:
  wordpress_data:
  db_data:

networks:
  cloud-1:
