#!/bin/bash

apt install -y curl

curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
chmod +x wp-cli.phar
mv wp-cli.phar /usr/local/bin/wp

cd /var/www/wordpress

echo "Waiting for database connection..."
sleep 30

wp core install --url="{{ domain_url }}" --title="{{ wp_title }}" --admin_user="{{ wp_user }}" --admin_password="{{ wp_pwd }}" --admin_email="{{ admin_email }}" --skip-email --allow-root

exec php-fpm7.3 -F
