#!/bin/sh

curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
chmod +x wp-cli.phar
mv wp-cli.phar /usr/local/bin/wp

cd /var/www/html

wp core download --locale=fr_FR --allow-root

echo "Waiting for database connection..."
sleep 30

wp core install --url="{{ domain_url }}" --title="{{ wp_title }}" --admin_user="{{ wp_user }}" --admin_password="{{ wp_pwd }}" --admin_email="{{ admin_email }}" --skip-email --allow-root

apache2-foreground
