version: '3.8'

services:
  wordpress:
    build: wp
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      WORDPRESS_USER: "{{ wp_user }}"
      WORDPRESS_PASSWORD: "{{ wp_pwd }}"
      WORDPRESS_DB_HOST: "{{ wp_db_host }}"
      WORDPRESS_DB_USER: "{{ wp_db_user }}"
      WORDPRESS_DB_PASSWORD: "{{ wp_db_pwd }}"
      WORDPRESS_DB_NAME: "{{ wp_db_name }}"
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_pwd }}"
      MYSQL_DATABASE: "{{ mysql_db }}"
      MYSQL_USER: "{{ mysql_user }}"
      MYSQL_PASSWORD: "{{ mysql_pwd }}"
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - cloud-1

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - "9090:80"
    depends_on:
      - db
    environment:
      PMA_HOST: "{{ pma_host }}"
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_pwd }}"
    networks:
      - cloud-1

  db:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_pwd }}"
      MYSQL_DATABASE: "{{ mysql_db }}"
      MYSQL_USER: "{{ mysql_user }}"
      MYSQL_PASSWORD: "{{ mysql_pwd }}"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - cloud-1

  nginx:
    build: nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - wordpress
    networks:
      - cloud-1

volumes:
  wordpress_data:
  db_data:

networks:
  cloud-1:
